/* .overall-container {
    position: fixed;
    transform: translateY(-96px);
}

.first-header-container {
    display: flex;
    justify-content: center;
    transform: translateX(300px) translateY(-310px);
    background-image: linear-gradient(to right, rgb(96, 51, 171), rgb(51, 123, 233));
    width: 100vw;
    height: 40px;
    margin-left: -300px;
}

.cloud-security {
    color: white;
    transform: translateY(-4px);
    font-size: 16px;
}

.cloud-security:hover {
    cursor: pointer;
}

.data-dog-logo{
    height: 160px;
    transform: rotate(-5deg) translateX(7%) translateY(-20px);
    align-self: center;
  }

  .data-dog-logo:hover {
    cursor: pointer;
  }

  .second-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-left: 40px;
    transform: translateY(-310px) translateX(-45px);
    background-color: white;
    height: 160px;
    width: 100vw;
  }

  .search {
    height: 20px;
    align-self: center;
  }

  .search:hover {
    cursor: pointer;
  }

  .free {
    height: 5px;
    border: 2px solid red;
  }

  p {
    color: rgb(85, 85, 85);
    font-size: 14px;
    font-weight: bolder;
  }

  p:hover {
    color: rgb(98, 44, 165);
    cursor: pointer;
  }

  .left-of-dog {
    display: flex;
    gap: 20px;
   
    transform: translateX(-2%);
  }

  .right-of-dog {
    transform: translateX(40px);
    display: flex;
    gap: 20px;
  }

.free-button {
    background-color: white;
    color: black;
    border: 1px solid rgb(98, 44, 165);
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
}

.free-button:hover {
    background-image: linear-gradient(to right, rgb(114, 55, 211), rgb(147, 63, 243));
    cursor: pointer;
} */