.footer-container {
    display: flex;
    background-color: white;
    align-items: center;
    transform: translateY(-330px);
}

.copyright {
    height: 10px;
    margin-left: 10%;
}

.diandre {
    color: black;
    margin-left: 4px;
    font-weight: bolder;
}
