.why-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 1000px;
}

.foods {
    align-self: flex-end;
    transform: translateY(-420px);
}

.food-gif {
    width: 350px;
    margin-left: 40px;
    transform: translateY(90px) translateX(-140px);
}

.why-words {
    display: flex;
    gap:240px;
    /* justify-content: space-between; */
}

.why-title {
    color: black;
    font-family: 'Ojuju', sans-serif;
    font-size: 36px;
    font-weight: 500;
    transform: translateX(600px) translateY(-350px);
}

.why-titles {
    color: black;
    font-size: 16px;
    transform: translateY(-320px) translateX(240px);
    display: flex;
    justify-content: space-around;
    font-family: 'Ojuju', sans-serif;
    flex-wrap: nowrap;
}


#two {
    margin-left: -20px;
}

#three {
    margin-left: -40px;
}


.why-paragraph {
    color: black;
    text-align: center;
    transform: translateX(-100px) translateY(-280px);
    font-family: sans-serif;
    font-size: 15px;
    width: 22%;
    margin-right: 40px
}

.all-paragraphs {
    display: flex;
    margin-top: -70px;
}

#p1 {
    margin-left: 300px;
    
}

#p2 {
    margin-left: 40px;
}

#p3 {
    margin-left: 60px;
}
















/* 
#one {
    transform: translateX(110px) translateY(-322px);
    width: 160%;
    border: 2px solid green;
   
}

#two {
    margin-left: -100px;
    transform: translateX(110px) translateY(-322px);
    width: 160%;
    border: 2px solid green;
}

#three {
    transform: translateX(-30px) translateY(-322px);
    width: 200%;
    border: 2px solid green;
}

.why-paragraph {
    color: black;
    text-align: center;
    transform: translateX(-100px) translateY(-280px);
    font-family: sans-serif;
    font-size: 15px;
    width: 100%
}


#p1 {
   transform: translateX(-15px) translateY(-290px);
   width: 280%;
   border: 1px solid red;
}

#p2 {
     transform: translateX(-30px) translateY(-290px);
     width: 320%;
     border: 1px solid red;
}

#p3 {
    transform: translateX(-195px) translateY(-290px);
    width: 320%;
    border: 1px solid red;
} */
