.chart-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.lifestyle {
    font-family: 'Ojuju', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 36px;
    height: 800px;
    transform: translateX(360px);
}


.chart-image {
    width: 45%;
    height: 600px;
    transform: translateY(100px) translateX(-140px);
}