body {
  margin: 0; 
  padding: 0;
}

.navBarContainer {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    /* border: 2px solid rgb(0, 195, 255); */
    align-items: center;
    box-shadow: 0px 2px 4px rgb(225, 76, 57);
    position: fixed;
    z-index: 1;
    
  }

.hello-fresh-logo {
    height: 68px;
    transform: translateX(2%);
}

.discount {
  color: black;
  transform: translateX(110%);
  font-weight: bolder;

}

.redeem {
  padding-left: 5%;
  padding-right: 5%;
  height: 48px;
  transform: translateX(-5%);
}



