.button {
    background-color: rgb(4, 122, 70);
    font-weight: bolder;
    border-radius: 4px;
  }
  
  .button:hover {
    background-color: rgb(2, 103, 59)
  }

  body {
    /* background-color: green; */
    margin: 0; 
    padding: 0;
  }

